nav {
  display: flex;
  width: 100vw;
  padding: 1rem 2rem 1rem 5rem;
  border-bottom: 1px solid var(--third-color);
}

.btn-nav-dark {
  position: relative;
  z-index: 1;
  padding: 0.9rem 1.5rem 1.1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, 0) 100%), var(--primary-color) !important;
  border: 0;
  border-radius: 0.375rem;
  transition: box-shadow .2s;
}

.btn-nav-white {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.9rem 1.5rem 1.1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: var(--primary-color);
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, 0) 100%), var(--color-mktg-btn-bg) !important;
  border: 1px solid #BDBEC0;
  border-radius: 0.375rem;
  transition: box-shadow .2s;
}

.git--logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 7rem;

  img {
    width: 2rem !important;
  }
}

.git--separator {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #BDBEC0;
}

.git--links {
  display: flex;
  align-items: center;

  h6 {
    margin-left: 1.8rem;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.git--buttons {
  display: flex;
  margin-left: 3rem;
}
