<nav class="nav--git">
    <div class="git--logo">
        <img src="../../../assets/img/github_dark.svg" class="img-fluid" alt="github">
        <span class="git--separator">/</span>
        <h4 class="fw-bold mb-0">Blog</h4>
    </div>
    <div class="git--links">
        <h6>Engineering</h6>
        <h6>Product</h6>
        <h6>Security</h6>
        <h6>Open Source</h6>
        <h6>Enterprise</h6>
        <h6>Changelog</h6>
        <h6>More</h6>
    </div>
    <div class="git--buttons">
        <button class="btn-nav-dark btn-md">
            Enterprise trial
        </button>
        <button class="btn-nav-white btn-md ml-1">
            Contact sales
        </button>
        <img src="../../../assets/img/search.svg" class="img-fluid ml-2" alt="search">
    </div>
</nav>